@{
	string hp = "20";
}

<div class="jumbotron">
    <h1 class="spell-name">Name</h1>
	<p class="spell-level">Level</p>
    <p class="lead spell-desc">Description text will be placed here.</p>
</div>

<div class="row">
    <div class="col-md-5 caster" id="caster-1">
        <h1>One  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="curr-hp">@hp</span><span class="total-hp">/@hp</span> <i class="glyphicon glyphicon-heart"></i></h1>
		@Html.Partial("ActionButtons")
    </div>

    <div class="col-sm-2" id="turn-arrows">
        <h1><span class="left-arrow on" id="arrow-1">&laquo;</span> &nbsp; <span class="right-arrow" id="arrow-2">&raquo;</span></h1>
    </div>

    <div class="col-md-5 caster" id="caster-2">
		<h1>Two  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="curr-hp">@hp</span><span class="total-hp">/@hp</span> <i class="glyphicon glyphicon-heart"></i></h1>
		@Html.Partial("ActionButtons")
    </div>
</div>