body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* ----- CUSTOM ----- */
.jumbotron hr {
	border-color:#BBB;
}

.spell-level {
	font-size:14px;
	color:#777;
}

.caster {
	text-align:center;
}

	.caster h1 {
		width:100%;
	}

	.caster .total-hp {
		font-size:16px;
		color:#999;
	}

	.caster i {
		font-size:20px;
		color:firebrick;
	}

	.caster a {
		width:200px;
	}

#turn-arrows {
	color:#CCC;
	text-align:center;
}

	#turn-arrows .on {
		color:#428bca;
	}
